.container {
    width: 80%;
    margin-left: 10%;
}
button {
    color: #fff;
    border: 2px solid transparent;
    background: #130072;
    padding: 5px 30px;
}
button:hover {
    color: #130072;
    border: 2px solid #130072;
    background: transparent;
}
select, option {
    padding: 5px;
    border: 1px solid #130072;
}
.ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.ck-button input:hover + div {
    background: #ccc;
}

.ck-button label {
    float: left;
    border: 1px solid #fff;
}

.ck-button label div {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    padding: 0;
}

.ck-button label input {
    position: absolute;
    top: -25px;
}

.ck-button input:checked + div {
    background-color: #130072;
    color:#fff;
}

#description {
    width: 100%;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
}